:root {
    --color-primario: #292F2E;
    --color-secundario: #136F63;
    --color-secundario2: #126257;
    --color-terciario: #22AAA1;
    --color-cuaternario: #4CE0D2;
    --color-quintillizo: #84CAE7;
    --color-quintillizo2: #70ACC6;
    --casi-negro: #121414;
    --color-negro: #000;
    --casi-blanco: #C2E4E1;
    --color-blanco: #fff;
    --contacto: #626E6B;
}

* {
 margin: 0;
 padding: 0;   
 box-sizing: border-box;
}

body {
    background: linear-gradient(var(--color-primario), var(--casi-negro));
    font-family: 'Titillium Web';
    text-align: center;
    color: white;
    width: auto;
}

header hr {
    margin: 0;
    height: 1px;
    border: 0;
    background-image: linear-gradient(to right, rgba(0,0,0,0), rgb(201, 191, 228), rgba(0,0,0,0));
}

hr {
    margin-top: 10px;
    height: 1px;
    border: 0;
    background-image: linear-gradient(to right, rgba(0,0,0,0), var(--color-quintillizo), rgba(0,0,0,0));
}

header { 
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    height: 300px;
    color: var(--color-blanco);
    background: linear-gradient(180deg, rgb(33, 33, 42), rgb(20, 20, 22))
}

header video {
    opacity: 0.3;
    width: 100%;
}

.texto-superpuesto {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 auto;
}

.contenedor-titulo {
    display: flex;
    margin: 0 auto;
    margin-top: 3rem;
    justify-content: center;
    width: 800px;
}

.perfil {
    position: absolute;
    left: 0;
    top: 0;
    background-image: url('perfil.png');
    height: 100px;
    width: 100px;
}

.contenedor-titulo div h1 {
    padding: .3rem .5rem 0 .5rem;

}

.contenedor-titulo div h2 {
    padding: 1.2rem .5rem 0 .5rem;
    line-height: 0.9;
    font-weight: 200;
    color: var(--casi-blanco);
}

.contenedor-titulo div h2 span {
    letter-spacing: 0.2rem;
 }

header h1 {
    font-size: 65px;
    color: #26bdb3;
}

header h2 {
    margin: 10px 0 20px;
    font-size: 28px;
    color: #35d6cb;
}

header p {
    margin-top: 1.5rem;
    display: inline-block;
    font-style: italic;
    font-size: 16px;
    color: #62f3e9;
}

#menu {
    box-sizing: border-box;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.5);
    /* border: groove var(--color-cuaternario) 1px; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 5vh;
    background: linear-gradient(var(--casi-negro), var(--color-negro));
    position: sticky;
    top: 0;
    z-index: 1;
}

.enlaces {
    box-sizing: border-box;
    font-weight: bold;
    padding: 4px;
    background-color: rgba(0,0,0,0);
    transition: background-color 0.3s ease;
    width: 100%;
    height: 100%;
    display: block;
    text-decoration: none;
    color: white;
    cursor: pointer;
}

#menu a:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

h3 {
    font-size: 30px;
    font-weight: 900;
    margin-top: 50px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 18px;
}

#portafolio {
    height: 100vh;
    padding: 30px;
}

.contenedor-proyectos {
    position: relative;
    height: 85%;
    width: 100%;
    align-items: center;
}



.video-container {
    position: absolute;
    top: 10%;
    left: 10%;
    height: 80%;
    width: 80%;
    transform: scale(0);
    transition: all 0.2s ease-in-out;
}

.frame-container {
    box-sizing: border-box;
    border: groove 1px var(--casi-negro);
    box-shadow: 4px 4px 6px rgba(0,0,0,0.4);
    background: radial-gradient(circle, var(--color-primario), var(--casi-negro));
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mostrar {
    transform: scale(1);
}

#cerrar {
    border: groove 1px var(--color-primario);
    box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    border-radius: 3px;
    padding: 3px 7px;
    background-color: var(--color-quintillizo2);
}

#cerrar:hover {
    background-color: var(--color-quintillizo);
}

figure {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
    box-sizing: border-box;
    background-color: rgba(41,47,46,0.8);
    height: 60%;
    width: 100%;
}

figcaption {
    color: var(--casi-blanco);
    font-weight: bold;
}

.img-vid {
    height: 150px;
    transform: scale(1);
    transition: all 0.2s ease-in-out;
}

.img-vid:hover {
    transform: scale(1.1);
}

.projects {
    border-radius: 20px;
    margin: 1.5rem auto;
    background-color: #22AAA1;
    height: 550px;
    width: 950px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.project-1 {

    background-image: url('deslizador de imagenes.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

svg {
    z-index: 5;
}

.enlaces-portafolio {
    pointer-events: all;
}

svg:hover {
    stroke: white;
    transition: all 0.3s ease-in-out;
}

.project-hover {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 143, 143, 0.8);
    border-radius: 20px;
    height: 100%;
    width: 100%;
    color: var(--color-negro);
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.botones {
    /* background-color: crimson; */
    display: flex;
    align-items: flex-end;
}

.titulo-del-proyecto {
    /* background-color: chartreuse; */
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 100px;
    width: 500px;
}

.enlaces-portafolio {
    display: flex;
    align-items: flex-end;
    /* background-color: #292F2E; */
    height: 150px;
}

.project-hover .botones {
    padding-bottom: 4rem;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    height: 150px;
    width: 200px;
    z-index: 2;
}

.contenedor-proyectos button {
    background-color: white;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
}

.project-hover h4 {
    font-weight: 700;
    font-size: 30px;
}

.project-hover:hover {
    opacity: 1;

}

#contenedor-habilidades {
    width: 90%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 45px;
    padding: 20px;
    justify-content: center;
    /* background-color: rgba(255,255,255,0.1); */
}

.habilidades-seccion {
    padding-top: 30px;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.habilidades-contenidas {
    transition: all 0.2s ease-in-out;
    padding: 10px;
    cursor: pointer;
    width: 130px;
    border-radius: 20px;
}

.habilidades-contenidas:hover {
    transform: scale(1.2);
    background-color: rgba(255, 255, 255, 0.2);
}

.habilidades-contenidas .cap {
    transition: opacity 1s ease-in-out;
    opacity: 0;
}

.habilidades-contenidas:hover .cap {
    opacity: 1;
}

img {
    height: 80px;
}

#npm {
    width: 80%;
    object-fit: contain;
}

#experiencia {
    height: 100vh;
    padding: 30px;
}

#contenedor-experiencia {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    height: 500px;
    color: var(--casi-negro)
}

.a単os {
    margin-top: 50px;
    display: flex;
    width: 80%;
    height: 30px;
    align-items: center;
    justify-content: space-around;
    background-color: var(--color-secundario);
    color: var(--casi-blanco);
}

.a単os div {
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    height: 100%;
    border: 1px black solid;
    cursor: pointer;
}

.a単os div:hover {
    background-color: var(--color-secundario2);
}

.jobs {
    position: absolute;
    display: flex;
    border-radius: 15px;
    padding: 30px 50px;
    width: 900px;
    margin-top: 120px;
    background: linear-gradient(to right, var(--color-quintillizo2), var(--color-quintillizo));
    border: 5px var(--color-cuaternario) outset;
}

.job-1 {
    transform: translateX(-100%) scale(0);
    transition: all 0.2s ease-in-out;
}

.job-2 {
    transform: translateX(0) scale(0);
    transition: all 0.2s ease-in-out;
}

.job-3 {
    transform: translateX(100%) scale(0);
    transition: all 0.2s ease-in-out;
}

#ver_videos {
    cursor: pointer;
}

.active {
    transform: translateX(0) scale(1);
}

.title {
    box-sizing: border-box;
    width: 35%;
    padding: 10px;
}

.description {
    box-sizing: border-box;
    width: 65%;
    padding: 10px;
}

.description ul li a {
    text-decoration: none;
    font-weight: bolder;
    color: var(--color-primario);
}

/*  seccion   */
#contacto {
    height: 100vh;
    background: radial-gradient(circle, var(--color-primario), var(--casi-negro));
    color: var(--color-blanco);
}

/*      contenedor del form      */
.contacto {
    height: 80%;
    /* position: relative; */
    padding: 30px 0 0 0;
}

#mis-redes {
    padding: 0 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#github {
    margin: 0 15px;
}

#mis-redes a img {
    height: 40px;
    transform: scale(1);
    transition: all 0.2s ease-in-out;
}

#mis-redes a img:hover {
    transform: scale(1.2);
}

form {
    margin-top: 100px;
    padding: 30px 0;
    width: 100%;
}

form label {
    display: block;
    width: 250px;
    margin: 0 auto;
    font-size: 18px;
    text-align: center;
}

form input, textarea {
    font-family: 'Titillium Web';
    box-sizing: border-box;
    border: 1px inset white;
    height: 35px;
    display: block;
    padding: 5px;
    width: 250px;
    margin: 10px auto 15px auto;
    background-color: var(--casi-negro);
    color: var(--color-cuaternario);
}

button {
    border: none;
    cursor: pointer;
    border-radius: 15px;
    padding: 5px 15px;
    background-color: var(--color-quintillizo);
}

button:hover {
    background-color: var(--color-quintillizo2);
}

form textarea {
    resize: none;
    height: 100px;
}


@media (max-width: 960px) {

    .project-hover {
        opacity: 1;
    }

    .projects {
        width: 100%;
    }

    .video-container {
        width: 90%;
        top: 10%;
        left: 5%;
    }

    header {
        height: 200px;
    }

    .contenedor-titulo {
        width: 100%;
        padding: 0;
        justify-content: center;
        align-items: center;
    }

    .contenedor-titulo h2 {
        padding: 0;
    }

    header h1 {
        padding-top: 60px;
        font-size: 30px;
    }

    header h2 {
        font-size: 20px;
    }

    header img {
        transform: scale(0);
    }

    header hr {
        height: 1px;
    }

    header p {
        margin: 1rem;
        font-size: 9px;
    }

    a単os {
        width: 100%;
    }

}

@media (max-width: 1100px) {

    #portafolio {
        height: auto;
    }

    .contenedor-proyectos {
        padding: 30px 0;
        display: flex;
        flex-direction: column;
    }

    .projects {
        display: block;
        margin-bottom: 50px;
    }

    .frame-container {
        padding: 18px 0;
        display: flex;
        flex-direction: column;
        height: 700px;
    }

    .frame-container figure:first-child {
        margin-top: 10px;
    }

    figure {
        width: 300px;
        padding: 10px;
    }
}

@media (max-width: 1200px) {
    
    #contenedor-habilidades {
        box-sizing: border-box;
        position: relative;
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: repeat(2, 130px);    
    }

    .habilidades-contenidas {
        display: inline-block;
        width: 130px;
        
    }

    .habilidades-seccion {
        height: auto;
    }

    #experiencia {
        padding: 10px;
        height: 1000px;
    }

    .jobs {
        flex-direction: column;
        width: 95%;
        height: auto;
        padding: 30px 0;
    }

    .title {
        margin: 0 auto;
        text-align: center;
        width: 100%;
    }

    .description {
        width: 100%;
        padding-left: 10%;
    }

    form input, textarea {
        width: 250px;

    }
}